body
{
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto;
}

/* Header */
.main-header{
    margin-top: 10px;
}

img.head-img-logo {
    width: 30px;
    height: 30px;
}

ul.connect-link {
    list-style: none;
    display: flex;
    gap: 15px;
}
/* Header  */



/* Navigation  Starts*/
a.nav-link {
    color: black;
}

div#navbarNav {
    justify-content: center;
}

ul.navbar-nav {

    gap: 21px;
}
a.navbar-brand{
    font-size: 30px;
}
a.navbar-brand:hover{
    color: #6610F2;
}
nav.navbar.navbar-expand-lg.bg-body-tertiary {
    font-size: 25px;
    font-weight:500;
    background: transparent !important;
}

a.nav-link:hover {
    color: #6610F2;
}

a.navbar-brand {
    color: black;
}
/* Navigation Ends */

/* HOME PAGE */
.img_rotate {
  width: 210px;
  animation: infiniterotate 10s infinite linear !important;
}

@keyframes infiniterotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.name{
  padding-top:50px;
}
.home-image{
  border-radius: 50%;
  width:85px;
  height:85px;
  margin-bottom:20px;
}

.home-para{
   margin-top:20px;
   font-size:25px;
   padding-left:10px;
}
.home-head-one{
font-size: 105px;
padding-left:10px;
}
.home-head-two{
font-size: 105px;
padding-left: 100px;
}
.home-head-three{
font-size: 105px; 
}
   
/* HOME PAGE */

/* About PAGE */
.about{
  margin-top: 100px;
}
.about-heading-content{
  margin-bottom: 100px;
}
.about-para-1{
  color:#6611F2;
}
.about-para-2{
  font-size: 30px;
   color:rgb(89, 89, 89)
}
.about-para-3{
  font-size:30px;
}
.about-para-4{
font-size:25px;
}
.about-details{
  padding-top: 50px;margin-bottom:90px;
}
.about-heading-1{
  font-size:50px;
}
.about-heading-2{
  font-size: 70px;
  color:#6611F2;
}
.about-span-1{
  color:#6611F2;
}
.about-span-2{
color:#8A8C8E;
}
.about-div{
  gap:10px;
}
/* About PAGE */


/* EXPERIENCE PAGE */
.experience{
  margin-top: 150px;
  padding-left: 200px;
  padding-right:200px
}
.experience-heading-content{
  margin-bottom: 100px;
}
.experience-para-1{
  color:#6611F2;
}
.experience-heading-1{
  font-size:25px;
}
.experience-div{
  color:#AAABAD; 
  font-size:25px
}
.experience-para-2{
  font-size:20px;
}
/* EXPERIENCE PAGE */