body {
  font-family: "Oswald", sans-serif !important;
  font-optical-sizing: auto;
}

/* Header */
.main-header {
  margin-top: 10px;
}

img.head-img-logo {
  width: 30px;
  height: 30px;
}

ul.connect-link {
  list-style: none;
  display: flex;
  gap: 15px;
}

/* Header  */



/* Navigation  Starts*/
a.nav-link {
  color: black;
}

div#navbarNav {
  justify-content: center;
}

ul.navbar-nav {

  gap: 21px;
}

a.navbar-brand {
  font-size: 30px;
}

a.navbar-brand:hover {
  color: #6610F2;
}

nav.navbar.navbar-expand-lg.bg-body-tertiary {
  font-size: 25px;
  font-weight: 500;
  background: transparent !important;
}

a.nav-link:hover {
  color: #6610F2;
}

a.navbar-brand {
  color: black;
}

/* Navigation Ends */

/* HOME PAGE */
.arrow_img {
  align-items: center;
  justify-content: center;
  height: 80px;
}

.img_rotate {
  width: 210px;
  margin-bottom: 10px;
  animation: infiniterotate 10s infinite linear !important;
}

@keyframes infiniterotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.name {
  padding-top: 80px;

}

.home-head-one {
  font-size: 100px;
  padding-left: 10px;
}

.home-image {
  border-radius: 50%;
  width: 85px;
  height: 85px;
  margin-bottom: 20px;
}

.home-para {
  margin-top: 20px;
  font-size: 25px;
  padding-left: 10px;
}

.home-head-two {
  font-size: 100px;
  padding-left: 80px;
  font-weight: 2000;
}

.home-head-three {
  font-size: 100px;
}

/* HOME PAGE */

/* About PAGE */
.about {
  margin-top: 100px;
}

.about-para-1 {
  color: #6611F2;
}

.about-para-2 {
  font-size: 30px;
  color: rgb(89, 89, 89)
}

.about-para-3 {
  font-size: 30px;
}

.about-para-4 {
  font-size: 25px;
}

.about-details {
  padding-top: 50px;
  margin-bottom: 90px;
}

.about-heading-1 {
  font-size: 50px;
}

.about-heading-2 {
  font-size: 70px;
  color: #6611F2;
}

.about-span-1 {
  color: #6611F2;
}

.about-span-2 {
  color: #8A8C8E;
}

.about-div {
  gap: 10px;
}

/* About PAGE */


/* EXPERIENCE PAGE */
.experience {
  margin-top: 100px;
  padding-left: 150px;
  padding-right: 150px
}

.experience-para-1 {
  color: #6611F2;
}

.experience-heading-1 {
  font-size: 25px;
}

.experience-div {
  color: #AAABAD;
  font-size: 25px
}

.experience-para-2 {
  font-size: 20px;
}

/* EXPERIENCE PAGE */


/* SKILLS PAGE */
.skills {
  margin-top: 100px;
}

.skills-para-1 {
  color: #6611F2;
}

.skills-div-1 {
  padding: 2px 20px;
}

.skills-div-5 {
  padding: 2px 20px;
}

.skills-div-6 {
  padding: 2px 20px;
}

.skills-hr {
  margin-right: 20px;
}

.skills-para {
  color: #6611F2;
  padding-left: 100px;
}

/* SKILLS PAGE */



/* ACHIEVEMENT PAGE */
.achievement {
  margin-top: 100px;
  padding-left: 170px;
  padding-right: 170px;
  margin-bottom: 50px;
}

.color_table {
  color: #8A8C8E;
  font-size: 20px;
}

.border_table {
  border-bottom: 0.2px solid #F2F2F2;
  margin: 20px;
}

.year {
  margin-left: 20px;
  padding-left: 30px;
}

.btn_resume {
  border-radius: 10px;
  border: 2px solid #6610F2;
  color: #6610F2;
  padding: 8px 35px;
  text-decoration: none;

}

.btn_resume:hover {
  background-color: #6610F2;
  color: white;
}

/* ACHIEVEMENT PAGE */

/* SERVICE PAGE */
.service {
  margin-top: 100px;
}

.service-box {
  padding: 30px 20px;
  text-align: center;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.num {
  font-size: 45px;
  color: #ddd;
  font-weight: 500;
}

.service-box h5 {
  font-size: 40px;
  font-weight: 450;
}

.no-border-right {
  border-right: none;
}

.no-border-bottom {
  border-bottom: none;
}

.service-content {
  color: #56595C;
  font-size: 22px;
}

/* SERVICE PAGE */


/* PROJECT PAGE */
.project {
  margin-top: 100px;
}

.items {
  display: grid;
  grid-template-columns: 450px 450px 450px;
}

.projects img {
  padding: 15px;
  border-radius: 40px;
}

.project3 img {
  width: 450px;
  height: 320px;
}

.project5 img {
  width: 450px;
  height: 320px;
}

.project1 img {

  width: 450px;
  height: 320px;
}

.project6 img {
  width: 450px;
  height: 320px;
}

.project2 img {
  width: 450px;
  height: 320px;
}

.project7 img {
  width: 450px;
  height: 320px;
}

.project4 img {
  width: 450px;
  height: 320px;
}

.nav-pills li button {
  color: black !important;

}

.nav-pills li button:hover {
  color: #6610F2 !important;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
  color: #6610F2 !important;
  border-bottom: 2px solid #6610F2;
  background-color: transparent !important;
}

.nav-pills .nav-link {
  border-radius: unset !important;
}

.project-card {
  position: relative;

}


.overlay {
  position: absolute;
  top: 15px;
  /* match padding */
  left: 15px;
  width: calc(100% - 30px);
  /* subtract padding */
  height: calc(100% - 30px);
  background: rgba(102, 16, 242, 0.6);
  /* purple with opacity */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease;
  border-radius: 25px;
}

.project-card:hover .overlay {
  opacity: 1;
}

.content {
  color: white;
  text-align: center;
}

.project-heading-1 {
  font-size: 28px;
}

.project-span-1 {
  font-size: 22px;
}

/* PROJECT PAGE */

/* CLIENT PAGE */
.clients {
  margin-top: 100px;
  padding-left: 180px;
  padding-right: 180px
}

.client-para {
  font-size: 20px
}

.testimonial {
  text-align: center;
  padding: 40px;
}

.testimonial img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

.carousel-indicators button {
  background-color: #6610F2;
}

/* CLIENT PAGE */


/* QUESTION PAGE */
.question {
  margin-top: 100px;
  padding-left: 200px;
  padding-right: 200px
}

.accordion.accordion-flush .accordion-header .accordion-button {
  font-size: 30px;
}

.accordion-body {
  font-weight: 10;
  font-size: 28px;
}

.accordion-button:not(.collapsed) {
  color: #6610F2 !important;
  background: none !important;
  border-color: none !important;
}

.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}

/* QUESTION PAGE */